<div class="text-center titles">
  <h3>お気に入りリスト</h3>
</div>

<% if @customer.favorite_posts.exists? %>
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-10 mx-auto">
        <table class="table table-hover table-inverse table-responsive-md mt-3">
          <thead class="table-active">
            <tr>
              <th>投稿画像</th>
              <th>カテゴリー</th>
              <th>タイトル</th>
              <th>投稿者</th>
              <th>いいね数</th>
            </tr>
          </thead>
          <% @customer.favorite_posts.each do |post| %>
            <tbody>
              <td>
                <%= link_to post_path(post) do %>
                  <%= attachment_image_tag post, :image, class: "mini-img-tag" %>
                <% end %>
              </td>
              <td>
                <% if post.category == "空き家情報" %>
                  空き家情報
                <% else %>
                  おすすめスポット
                <% end %>
              </td>
              <td><%= post.title %></td>
              <td><%= post.customer.name %></td>
              <td><%= post.favorites.count %>いいね</td>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <p>投稿をお気に入りに登録しよう！</p>
<% end %>