<div class="row text-center m-5">
  <div class="col text-center">
    <% if @customer == current_customer %>
      <h2>マイページ</h2>
    <% else %>
      <h2>会員詳細</h2>
    <% end %>
  </div>
</div>
<div class="row text-center">
  <div class="card mb-3 mx-auto bg-light" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= attachment_image_tag @customer, :image, fallback: "illust_human.jpg", class: "rounded-circle p-5" %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"><%= @customer.name %><span style="font-size: 10px">さん</span></h3>
          <% if @customer.country == 0 %>
            <p class="card-text">山梨県民</p>
          <% else %>
            <p class="card-text">移住に興味のある方</p>
          <% end %>
          <p class="card-text"><small class="text-muted">投稿数：</small></p>
          <p class="card-text"><small class="text-muted">フォロー数：</small></p>
          <p class="card-text"><small class="text-muted">フォロワー数：</small></p>
          <p class="card-text"><small class="text-muted">お気に入り登録数：<%= link_to "@customer.favorites.count", favorites_customers_path %></small></p>
        </div>
      </div>
      <div class="col">
        <% if @customer.introduction == nil %>
          <p>自己紹介文を登録しよう！</p>
        <% else %>
          <p><%= @customer.introduction %></p>
        <% end %>
        <% if @customer == current_customer %>
          <%= link_to '編集する', edit_customer_path(@customer) %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--%= render 'public/customers/show', customer: @customer %>-->