<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-sets">
        <div class="card-body">
          <h3 class="card-titles">投稿編集画面</h3>
          <%= form_with model: @post, url: post_path(@post), method: :patch, local: true do |f| %>
            <div class="form-group">
              <%= f.label :投稿画像（画像を変える場合、新しい画像をアップデート） %><br>
              <%= f.attachment_field :image %>
            </div>
            <div class="form-group">
              <%= f.label :タイトル %>
              <%= f.text_field :title, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :内容 %>
              <%= f.text_area :body, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :場所 %>
              <%= f.text_field :location, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.radio_button :category, "おすすめスポット" %>おすすめスポット
              <% if current_customer.country == 0 %>
                <%= f.radio_button :category, "空き家情報" %>空き家情報
              <% end %>
            </div>
              <%= f.submit "編集する", class: "btn btn-success w-100 card-btn" %>
              <%= link_to "削除する", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger delete-btn" %>
          <% end %>
        </div>
      </div>
      <%= link_to :back do %>
        <button>前ページへ戻る</button>
      <% end %>
    </div>
  </div>
</div>
