<div class="row text-center titles">
  <div class="col-md-8">
    <h2>空き家情報一覧</h2>
    <% if customer_signed_in? %>
      <% if current_customer.country == 0 %>
        <p><%= link_to "新規投稿する", new_post_path %></p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <p>
      <%= search_form_for @q, url: vacant_house_path do |f| %>
        <%= f.search_field :title_or_body_or_location_cont, placeholder: "空き家情報を検索...", class: "form-control" %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </p>
  </div>
</div>

<div class="card-deck p-5">
  <div class="row">
    <% @posts.each do |post| %>
      <% if post.category == "空き家情報" %>
        <div class="col-md-4 mt-5">
          <div class="card bg-light pt-3">
            <%= link_to post_path(post), remote: true, class: "mx-auto" do %>
              <%= attachment_image_tag post, :image, class: "rounded-circle img-fluid" %>
            <% end %>
            <div class="card-body text-center">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text">
                投稿者：<%= post.customer.name %>
              </p>
              <p class="card-text">
                場所：<%= post.location %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<div id="mask" class="hidden"></div>
<div id="modal" class="hidden">
  <p>モーダルウィンドウ<p>
  <div id="close">閉じる</div>
</div>