<div>
  <div class="mr-5">コメント件数：<%= post.comments.count %></div>
  <% post.comments.each do |comment| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= comment.customer.name %>さん</h5>
        <p class="card-text"><%= comment.comment %></p>
        <p class="card-text"><small class="text-muted"><%= comment.created_at.to_s(:datetime_jp) %></small></p>
        <% if comment.customer == current_customer %>
          <%= link_to "削除", post_comment_path(comment.post, comment), remote: true, method: :delete %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>