<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-sets">
        <div class="card-body">
          <h3 class="card-titles">会員No.<%= @customer.id %>編集画面</h3>
          <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch, local: true do |f| %>
            <div class="form-group">
              <%= f.label :プロフィール画像（画像を変える場合、新しい画像をアップデート） %><br>
              <%= f.attachment_field :image %>
            </div>
            <div class="form-group">
              <%= f.label :ニックネーム %>
              <%= f.text_field :name, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :自己紹介 %>
              <%= f.text_area :introduction, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.radio_button :country, 0, class: "input" %>県民の方
              <%= f.radio_button :country, 1, class: "input" %>移住に興味のある方
            </div>
            <div class="form-group">
              <%= f.radio_button :is_deleted, true %>退会済
              <%= f.radio_button :is_deleted, false %>有効
            </div>
              <%= f.submit "更新する", class: "btn btn-success w-100 card-btn" %>
          <% end %>
        </div>
      </div>
      <%= link_to :back do %>
        <button class="back-btn">前ページに戻る</button>
      <% end %>
    </div>
  </div>
</div>