<div class="row text-center pt-5">
  <div class="col-sm-8">
    <h2>会員一覧</h2>
  </div>
  <div class="col-sm-4">
    <p>検索窓を設置</p>
  </div>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="col-md-10 mx-auto">
      <table class="table table-hover table-inverse table-responsive-md mt-3">
        <thead class="table-active">
          <tr>
            <th>プロフィール画像</th>
            <th>会員ID</th>
            <th>ニックネーム</th>
            <th>ステータス</th>
            <th>出身</th>
            <th>登録日時</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td>
                <%= attachment_image_tag customer, :image, fallback: "illust_human.jpg", class: "rounded-circle" %>
              </td>
              <td>
                <%= customer.id %>
              </td>
              <td>
                <%= link_to admin_customer_path(customer) do %>
                  <%= customer.name %>
                <% end %>
              </td>
              <td>
                <% if customer.is_deleted == true %>
                  <p class="text-secondary">退会</p>
                <% else %>
                  <p class="text-success">有効</p>
                <% end %>
              </td>
              <td>
                <% if customer.country == 0 %>
                  <p>県民</p>
                <% else %>
                  <p>移住に興味のある方</p>
                <% end %>
              </td>
              <td>
                <%= customer.created_at.to_s(:datetime_jp) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>