<%= form_with model: @chat do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
  <%= f.submit %>
<% end %>
<table>
  <thead>
    <tr>
      <td>投稿者名</td>
      <td>投稿内容</td>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.customer.name %></td>
        <td><%= chat.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>