<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-right mt-5">
      <%= link_to 'ゲストログイン', customer_guest_sign_in_path, method: :post %>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-sets">
        <div class="card-body">
          <h3 class="card-titles">ログイン</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :メールアドレス %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :パスワード %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
              <%= f.submit "ログイン", class: "btn btn-primary w-100 card-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>