<div class="row text-center pt-5">
  <div class="col-sm-8">
    <h2>空き家情報一覧</h2>
  </div>
  <div class="col-sm-4">
    <p>
      <%= search_form_for @q, url: admin_vacant_house_path do |f| %>
        <%= f.search_field :title_or_body_or_location_cont, placeholder: "空き家情報を検索...", class: "form-control" %>
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </p>
  </div>
</div>

<div class="container">
  <div class="row mt-3">
    <div class="col-md-10 mx-auto">
      <table class="table table-hover table-inverse table-responsive-md mt-3">
        <thead class="table-active">
          <tr>
            <th>投稿画像</th>
            <th>投稿ID</th>
            <th>タイトル</th>
            <th>投稿者</th>
            <th>登録日時</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <% if post.category == "空き家情報" %>
              <tr>
                <td>
                  <%= link_to admin_post_path(post) do %>
                    <%= attachment_image_tag post, :image, class: "rounded-circle mini-img-tag" %>
                  <% end %>
                </td>
                <td><%= post.id %></td>
                <td><%= post.title %></td>
                <td><%= post.customer.name %></td>
                <td><%= post.created_at.to_s(:datetime_jp) %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>